<div class="jumbotron">
    <h1>QUp Practical</h1>
    <p class="lead">I am a website. Automate me!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Arrange</h2>
        <p>tSelenium offers many ways to find elements within the Document Object Model like by ID, Class Name or even Xpath. Arrange your elements first, before you interact.</p>
    </div>
    <div class="col-md-4">
        <h2>Act</h2>
        <p>Selenium can interact with elements that it finds. Here we can instruct Selenium to click the button "Click Me!", and action that will change the Document Object Model, these you've arranged already.</p>
    </div>
    <div class="col-md-4">
        <h2>Assert</h2>
        <p>With the previous action completed, using NUnit we can assert that a change to the DOM is as expected, and our automated test will pass. If not, it will fail.</p>
    </div>
</div>
